<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSampleApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       <li class="nav-item px-3">
            <NavLink class="nav-link" href="mandelbrotPageCPU">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CPU Demo
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mandelbrotPageBasic">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GPU Basic
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mandelbrotPageStream">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GPU Streamed
            </NavLink>
        </li>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
