// ---------------------------------------------------------------------------------------
//                                   ILGPU Algorithms
//                        Copyright (c) 2020-2023 ILGPU Project
//                                    www.ilgpu.net
//
// File: XMathTests.Rcp.tt/XMathTests.Rcp.cs
//
// This file is part of ILGPU and is distributed under the University of Illinois Open
// Source License. See LICENSE.txt for details.
// ---------------------------------------------------------------------------------------

<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="XMathTests.ttinclude" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
using ILGPU.Runtime;
using ILGPU.Tests;
using System;
using System.Collections.Generic;
using System.Linq;
using Xunit;

// disable: max_line_length

<#
    var rcpFunctions = new []
    {
        new XMathFunction("Rcp"  , "float" , new Precision(15, 15,  7)),
        new XMathFunction("Rcp"  , "double", new Precision(15, 15, 15)),
    };
#>
namespace ILGPU.Algorithms.Tests
{
    // Performs tests on the various reciprocal functions across a range of input values
    // and ensures a minimum precision on each accelerator type.
    partial class XMathTests
    {
<# foreach (var function in rcpFunctions) { #>
        internal static void <#= function.KernelName #>(
            Index1D index,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> input,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index]);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = 0.5;
            var end = 400.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<<#= function.DataType #>>();
            for (
                var x = <#= start #><#= function.ValueSuffix #>;
                x <= <#= end #><#= function.ValueSuffix #>;
                x += <#= step #><#= function.ValueSuffix #>)
                inputValues.Add(x);

            var edgeCases = new <#= function.DataType #>[]
            {
                0.0<#= function.ValueSuffix #>,
                <#= function.DataType #>.NaN,
                <#= function.DataType #>.PositiveInfinity,
                <#= function.DataType #>.NegativeInfinity
            };
            for (var x = 0; x < edgeCases.Length; x++)
                inputValues.Add(edgeCases[x]);

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);
            using var output = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);

            input.CopyFromCPU(inputArray);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(x => 1 / x).ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinPrecision(output.View, expected, <#= function.Precision.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinPrecision(output.View, expected, <#= function.Precision.OpenCL #>);
            else
                VerifyWithinPrecision(output.View, expected, <#= function.Precision.CPU #>);
        }

<# } #>
    }
}