<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="XMathTests.ttinclude" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ output extension=".cs" #>
using ILGPU.Runtime;
using System;
using System.Collections.Generic;
using System.Linq;
using Xunit;

<#
    var sqrtFunctions = new []
    {
        new XMathFunction("Sqrt" , "float" , new Precision(15, 15,  5)),
        new XMathFunction("Sqrt" , "double", new Precision(15, 15, 15)),
    };

    var rsqrtFunctions = new []
    {
        new XMathFunction("Rsqrt" , "float" , new Precision(15, 15,  7)),
        new XMathFunction("Rsqrt" , "double", new Precision(15, 15, 15)),
    };
#>
namespace ILGPU.Algorithms.Tests
{
    // Performs tests on the various square root functions across a range of input values
    // and ensures a minimum precision on each accelerator type.
    partial class XMathTests
    {
<# foreach (var function in sqrtFunctions) { #>
        internal static void <#= function.KernelName #>(Index1 index, ArrayView<<#= function.DataType #>> input, ArrayView<<#= function.DataType #>> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index]);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = 0.0;
            var end = 400.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<<#= function.DataType #>>();
            for (var x = <#= start.ToString("F1") #><#= function.ValueSuffix #>; x <= <#= end #><#= function.ValueSuffix #>; x += <#= step #><#= function.ValueSuffix #>)
                inputValues.Add(x);

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate<<#= function.DataType #>>(inputArray.Length);
            using var output = Accelerator.Allocate<<#= function.DataType #>>(inputArray.Length);

            input.CopyFrom(inputArray, 0, 0, inputArray.Length);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(Math<#= function.MathSuffix #>.<#= function.Name #>).ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinPrecision(output, expected, <#= function.Precision.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinPrecision(output, expected, <#= function.Precision.OpenCL #>);
            else
                VerifyWithinPrecision(output, expected, <#= function.Precision.CPU #>);
        }

<# } #>
<# foreach (var function in rsqrtFunctions) { #>
        internal static void <#= function.KernelName #>(Index1 index, ArrayView<<#= function.DataType #>> input, ArrayView<<#= function.DataType #>> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index]);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = 0.5;
            var end = 400.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<<#= function.DataType #>>();
            for (var x = <#= start #><#= function.ValueSuffix #>; x <= <#= end #><#= function.ValueSuffix #>; x += <#= step #><#= function.ValueSuffix #>)
                inputValues.Add(x);

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate<<#= function.DataType #>>(inputArray.Length);
            using var output = Accelerator.Allocate<<#= function.DataType #>>(inputArray.Length);

            input.CopyFrom(inputArray, 0, 0, inputArray.Length);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(x => 1.0<#= function.ValueSuffix #> / Math<#= function.MathSuffix #>.Sqrt(x)).ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinPrecision(output, expected, <#= function.Precision.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinPrecision(output, expected, <#= function.Precision.OpenCL #>);
            else
                VerifyWithinPrecision(output, expected, <#= function.Precision.CPU #>);
        }

<# } #>
    }
}
