// ---------------------------------------------------------------------------------------
//                                   ILGPU Algorithms
//                        Copyright (c) 2020-2023 ILGPU Project
//                                    www.ilgpu.net
//
// File: XMathTests.Pow.tt/XMathTests.Pow.cs
//
// This file is part of ILGPU and is distributed under the University of Illinois Open
// Source License. See LICENSE.txt for details.
// ---------------------------------------------------------------------------------------

<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="XMathTests.ttinclude" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.IO" #>
using ILGPU.Runtime;
using ILGPU.Tests;
using System;
using System.Collections.Generic;
using System.Linq;
using Xunit;

// disable: max_line_length

<#
    var powFunctions = new []
    {
        new PowFunction("Pow" , "float" , new RelativeError(0E-00, 1E-05, 1E-06)),
        new PowFunction("Pow" , "double", new RelativeError(0E-00, 1E-13, 1E-15)),
    };

    var exp2Functions = new []
    {
        new PowFunction("Exp2", "float" , new RelativeError(0E-00, 1E-07, 1E-07)),
        new PowFunction("Exp2", "double", new RelativeError(0E-00, 1E-14, 0E-00)),
    };

    var expFunctions = new []
    {
        new PowFunction("Exp" , "float" , new RelativeError(0E-00, 1E-05, 1E-06)),
        new PowFunction("Exp" , "double", new RelativeError(0E-00, 1E-14, 1E-15)),
    };
#>
namespace ILGPU.Algorithms.Tests
{
    // Performs tests on the various power functions across a range of input values
    // and ensures a minimum error on each accelerator type.
    partial class XMathTests
    {
<# foreach (var function in powFunctions) { #>
        internal static void <#= function.KernelName #>(
            Index1D index,
            ArrayView1D<XMathTuple<<#= function.DataType #>>, Stride1D.Dense> input,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index].X, input[index].Y);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = -20.0;
            var end = 20.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<XMathTuple<<#= function.DataType #>>>();
            for (
                var x = <#= start.ToString("F1", CultureInfo.InvariantCulture) #><#= function.ValueSuffix #>;
                x <= <#= end #><#= function.ValueSuffix #>;
                x += <#= step #><#= function.ValueSuffix #>)
            {
                for (
                    var y = <#= start.ToString("F1", CultureInfo.InvariantCulture) #><#= function.ValueSuffix #>;
                    y <= <#= end #><#= function.ValueSuffix #>;
                    y += <#= step #><#= function.ValueSuffix #>)
                {
                    inputValues.Add(new XMathTuple<<#= function.DataType #>>(x, y));
                }
            }

            var edgeCases = new <#= function.DataType #>[]
            {
                -8.0<#= function.ValueSuffix #>,
                -2.0<#= function.ValueSuffix #>,
                -1.0<#= function.ValueSuffix #>,
                -0.5<#= function.ValueSuffix #>,
                0.0<#= function.ValueSuffix #>,
                0.5<#= function.ValueSuffix #>,
                1.0<#= function.ValueSuffix #>,
                2.0<#= function.ValueSuffix #>,
                8.0<#= function.ValueSuffix #>,
                <#= function.DataType #>.NaN,
                <#= function.DataType #>.PositiveInfinity,
                <#= function.DataType #>.NegativeInfinity
            };
            for (var x = 0; x < edgeCases.Length; x++)
            {
                for (var y = 0; y < edgeCases.Length; y++)
                {
                    inputValues.Add(new XMathTuple<<#= function.DataType #>>(
                        edgeCases[x],
                        edgeCases[y]));
                }
            }

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate1D<XMathTuple<<#= function.DataType #>>>(
                inputArray.Length);
            using var output = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);

            input.CopyFromCPU(inputArray);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(
                v => Math<#= function.MathSuffix #>.<#= function.Name #>(v.X, v.Y))
                .ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.OpenCL #>);
            else
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.CPU #>);
        }

<# } #>
<# foreach (var function in exp2Functions) { #>
        internal static void <#= function.KernelName #>(
            Index1D index,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> input,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index]);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = -40.0;
            var end = 80.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<<#= function.DataType #>>();
            for (
                var x = <#= start.ToString("F1", CultureInfo.InvariantCulture) #><#= function.ValueSuffix #>;
                x <= <#= end #><#= function.ValueSuffix #>;
                x += <#= step #><#= function.ValueSuffix #>)
                inputValues.Add(x);

            var edgeCases = new <#= function.DataType #>[]
            {
                <#= function.DataType #>.NaN,
                <#= function.DataType #>.PositiveInfinity,
                <#= function.DataType #>.NegativeInfinity
            };
            for (var x = 0; x < edgeCases.Length; x++)
                inputValues.Add(edgeCases[x]);

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);
            using var output = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);

            input.CopyFromCPU(inputArray);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(
                x => Math<#= function.MathSuffix #>.Pow(
                    2.0<#= function.ValueSuffix #>, x)).ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.OpenCL #>);
            else
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.CPU #>);
        }

<# } #>
<# foreach (var function in expFunctions) { #>
        internal static void <#= function.KernelName #>(
            Index1D index,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> input,
            ArrayView1D<<#= function.DataType #>, Stride1D.Dense> output)
        {
            output[index] = XMath.<#= function.Name #>(input[index]);
        }

        [Fact]
        [KernelMethod(nameof(<#= function.KernelName #>))]
        public void <#= function.TestName #>()
        {
<#
            var start = -40.0;
            var end = 80.0;
            var step = 0.5;
#>
            // [<#= start #>, <#= end #>]
            var inputValues = new List<<#= function.DataType #>>();
            for (
                var x = <#= start.ToString("F1", CultureInfo.InvariantCulture) #><#= function.ValueSuffix #>;
                x <= <#= end #><#= function.ValueSuffix #>;
                x += <#= step #><#= function.ValueSuffix #>)
                inputValues.Add(x);

            var edgeCases = new <#= function.DataType #>[]
            {
                <#= function.DataType #>.NaN,
                <#= function.DataType #>.PositiveInfinity,
                <#= function.DataType #>.NegativeInfinity
            };
            for (var x = 0; x < edgeCases.Length; x++)
                inputValues.Add(edgeCases[x]);

            var inputArray = inputValues.ToArray();
            using var input = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);
            using var output = Accelerator.Allocate1D<<#= function.DataType #>>(
                inputArray.Length);

            input.CopyFromCPU(inputArray);
            Execute(input.Length, input.View, output.View);

            var expected = inputArray.Select(
                x => Math<#= function.MathSuffix #>.<#= function.Name #>(x))
                .ToArray();
            if (Accelerator.AcceleratorType == AcceleratorType.Cuda)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.Cuda #>);
            else if (Accelerator.AcceleratorType == AcceleratorType.OpenCL)
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.OpenCL #>);
            else
                VerifyWithinRelativeError(
                    output.View,
                    expected,
                    <#= function.RelativeError.CPU #>);
        }

<# } #>
    }
}
<#+
    class PowFunction : XMathFunctionBase
    {
        public PowFunction(string name, string dataType, RelativeError relativeError)
            : base(name, dataType)
        {
            RelativeError = relativeError;
        }

        public RelativeError RelativeError { get; }
    }
#>