<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container footer-bottom clearfix text-center">
        <div>
            &copy; Copyright
            <script type="text/javascript">document.write(String(new Date().getFullYear()));</script>
            <strong><span>{{ site.name | default: "" }}</span></strong>. All Rights Reserved.
        </div>
        {% comment %}<div>{% endcomment %}
        {% comment %}{% include addons/social-links.html %}{% endcomment %}
        {% comment %}</div>{% endcomment %}
    </div>
</footer><!-- End Footer -->
