<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/img/favicon/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/img/favicon/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "assets/img/favicon/site.webmanifest" | relative_url }}">
<link rel="mask-icon" href="{{ "assets/img/favicon/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "assets/img/favicon/favicon.ico" | relative_url }}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="{{ "assets/img/favicon/browserconfig.xml" | relative_url }}">
<meta name="theme-color" content="#ffffff">
<!-- Favicons -->

<!-- Extras CSS -->
<link rel="stylesheet" href="{% capture url %}{% link assets/css/site.scss %}{% endcapture %}{{ url | relative_url }}">
<!-- Extras CSS -->
