<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <a href="../index.html" class="logo me-auto"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a>About</a>
          <ul>
            <li><a href="#learn-more" class="scrollto">Learn More</a></li>
            <li><a href="#highlights" class="scrollto">Highlights</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#news" class="scrollto">News</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
          </li>
          <li class="dropdown"><a class="scrollto" href="#about">Project</a>
            <ul>
              <li><a href="https://github.com/m4rs-mt/ILGPU/" class="scrollto">Sourcecode</a></li>
              <li><a href="https://github.com/m4rs-mt/ILGPU/milestones" target="_blank">Releases</a></li>
              <li><a href="https://github.com/m4rs-mt/ILGPU/releases" target="_blank">Milestones</a></li>
            </ul>
            </li>
        <li><a href="/docs/ReadMe">Documentation</a></li>
        <li><a href="https://discord.com/invite/X6RBCff" target="_blank">Discord</a></li>
        <li><a class="getstarted scrollto" href="#cta">Get Started</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

