<section id="sidebar">
    <div id="sidebar-header">
        <h4>Documentation</h4>
        </div>
    <nav id="wiki-nav">
        <h5>Primers</h5>
        <ul>
            <li><a href="/docs/ReadMe">Home</a></li> 
            <li><a href="/docs/Primer_00">Setting Up ILGPU</a></li>
            <li><a href="/docs/Primer_01">A GPU Is Not A CPU</a></li>
            <li><a href="/docs/Primer_02">Memory & Bandwidth Threads</a></li>
        </ul>
        <h5>Beginner</h5>
        <ul>
            <li><a href="/docs/Tutorial_01">Context & Accelerators</a></li> 
            <li><a href="/docs/Tutorial_02">Setting Up ILGPU</a></li>
            <li><a href="/docs/Tutorial_03">A GPU Is Not A CPU</a></li>
            <li><a href="/docs/Tutorial_04">Memory & Bandwidth Threads</a></li>
        </ul>
        <h5>Advanced</h5>
        <ul>
            <li><a href="/docs/Memory-Buffers-and-Views">Memory Buffers & Views</a></li> 
            <li><a href="/docs/Kernels">Kernels</a></li> 
            <li><a href="/docs/Shared-Memory">Shared Memory</a></li> 
            <li><a href="/docs/Math-Functions">Math Functions</a></li> 
            <li><a href="/docs/Dynamically-Specialized-Kernels">Dynamically Specialized Kernels</a></li> 
            <li><a href="/docs/Debugging-and-Profiling">Debugging & Profiling</a</li> 
            <li><a href="/docs/Inside-ILGPU">Inside ILGPU</a></li> 
        </ul>
        
        <h5>Upgrade Guides</h5>
        <ul>
            <li><a href="/docs/Upgrade-v0.8.X-to-v0.9.X">v0.8.X to v0.9.X</a></li> 
            <li><a href="/docs/Upgrade-v0.8.0-to-v0.8.1">v0.8.0 to v0.8.1</a></li> 
            <li><a href="/docs/Upgrade-v0.7.X-to-v0.8.X">v0.7.X to v0.8.X</a></li> 
            <li><a href="/docs/Upgrade-v0.6.X-to-v0.7.X">v0.6.X to v0.7.X</a></li> 
            <li><a href="/docs/Upgrade-v0.3.X-to-v0.5.X">v0.3.X to v0.5.X</a></li> 
            <li><a href="/docs/Upgrade-v0.1.X-to-v0.2.X">v0.1.X to v0.2.X</a></li> 
          </ul>
    </nav>

    <div class="box">
        <span dd-toggle="theme" class="df">
          <div id="toggle_theme" class="dd-theme__switcher">
            <span class="dd-theme__switcher-btn">
              <svg xmlns="http://www.w3.org/2000/svg" class="dd-icon icon-tabler icon-tabler-sun" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="12" cy="12" r="4" />
                <path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="dd-icon icon-tabler icon-tabler-moon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <path d="M16.2 4a9.03 9.03 0 1 0 3.9 12a6.5 6.5 0 1 1 -3.9 -12" />
              </svg>
            </span>
          </div>
          &nbsp;<label class="box-lbl" for="toggle_theme"><strong>Toggle Light/Dark Theme</strong></label>
      </div>

</section>