// ---------------------------------------------------------------------------------------
//                                        ILGPU
//                           Copyright (c) 2024 ILGPU Project
//                                    www.ilgpu.net
//
// File: Configurations.tt/Configurations.cs
//
// This file is part of ILGPU and is distributed under the University of Illinois Open
// Source License. See LICENSE.txt for details.
// ---------------------------------------------------------------------------------------

<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="../ILGPU.Tests/Generic/ConfigurationBase.tt" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
using Xunit;
using Xunit.Abstractions;

<#
var configurationFile = Host.ResolvePath("../ILGPU.Tests/Configurations.txt");
var configurations = TestConfig.Parse(configurationFile);
#>

#if NET7_0_OR_GREATER

namespace ILGPU.Tests.Velocity128
{
<# foreach (var (test, level, collection) in configurations) { #>
<#      var name = $"Velocity128{test}_{level}"; #>
    [Collection("Velocity128ContextCollection<#= collection #>")]
    public sealed partial class <#= name #> : <#= test #>
    {
        public <#= name #>(
            ITestOutputHelper output,
            Velocity128TestContext<#= collection #> testContext)
            : base(output, testContext)
        { }
    }

<# } #>
<# foreach (var (config, level) in TestConfig.AllConfigurations) { #>
    public class Velocity128TestContext<#= config #> : Velocity128TestContext
    {
        public Velocity128TestContext<#= config #>()
            : base(
                OptimizationLevel.<#= level #>,
                enableAssertions: true,
                forceDebugConfig: true,
                _ => { })
        { }
    }

    [CollectionDefinition("Velocity128ContextCollection<#= config #>")]
    public class Velocity128ContextCollection<#= config #> :
        ICollectionFixture<Velocity128TestContext<#= config #>> { }

<# } #>
}

#endif