[*.*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = crlf
trim_trailing_whitespace = true

[*.csproj]
indent_size = 2
tab_width = 2

[*.cs]

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1801: Review unused parameters
dotnet_diagnostic.CA1801.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:silent

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = none

# Default severity for analyzer diagnostics with category 'Security'
dotnet_analyzer_diagnostic.category-Security.severity = none

# CA5393: Do not use unsafe DllImportSearchPath value
dotnet_diagnostic.CA5393.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CA1508: Avoid dead conditional code
dotnet_diagnostic.CA1508.severity = none
