<Project>

  <Import Project="Sdk.props" Sdk="Microsoft.NET.Sdk" />

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net10.0</TargetFramework>
    <Nullable>enable</Nullable>
    <LangVersion>13.0</LangVersion>
    <RootNamespace>NoKernels</RootNamespace>
    <AssemblyName>NoKernels</AssemblyName>

    <ILGPUBackend>$(ILGPU_BACKEND)</ILGPUBackend>
    <ILGPUCompilerTool>dotnet "$(ILGPU_REPO_ROOT)/Bin/Debug/net10.0/ILGPUC.dll" </ILGPUCompilerTool>
  </PropertyGroup>

  <ItemGroup>
    <Reference Include="ILGPU">
      <HintPath>$(ILGPU_REPO_ROOT)/Bin/Debug/net10.0/ILGPU.dll</HintPath>
      <Private>true</Private>
    </Reference>
  </ItemGroup>

  <Import Project="Sdk.targets" Sdk="Microsoft.NET.Sdk" />
  <Import Project="$(ILGPU_REPO_ROOT)/Src/ILGPUC/build/ILGPU.Kernels.targets" />

</Project>
