@page "/BasicCanvasTest"


<BasicCanvas  @ref="Canvas2D"></BasicCanvas>

<p>
    <strong>A few example approaches for accessing JavaScript canvas from Blazor</strong>
</p>

<p>
    <Tooltip Text="Set color using canvas methods">
        <button class="btn btn-primary m-1" @onclick="Render1">Run Methods</button>
    </Tooltip>

    <Tooltip Text="Set color using injected script">
        <button class="btn btn-primary m-1" @onclick="TestLocalScript">Run Script</button>
    </Tooltip>

     <Tooltip Text="Test Image Methods">
        <button class="btn btn-primary m-1" @onclick="TestImageMethods">Image Methods</button>
    </Tooltip>

    <Tooltip Text="Test Get Methods">
        <button class="btn btn-primary m-1" @onclick="TestGetMethods">Get Methods</button>
    </Tooltip>


    </p>