name: 'Update Copyright Year'

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron:  '0 0 * * *' # Run once per day, at midnight.

jobs:
  update-copyright-year:
    # Only run on main repository
    if: github.repository == 'm4rs-mt/ILGPU'
    runs-on: ubuntu-latest
    steps:
      # Checkout full history so that the copyright tool has the required information.
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup the latest .NET 8 SDK
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 8.0.x

      - name: Update copyright year
        uses: technote-space/create-pr-action@v2
        with:
          EXECUTE_COMMANDS: |
            dotnet run --configuration=Release -p:TreatWarningsAsErrors=true --project Tools/CopyrightUpdateTool
          COMMIT_MESSAGE: 'Bump copyright year.'
          COMMIT_NAME: 'ILGPU CLI'
          COMMIT_EMAIL: 'contact@ilgpu.net'
          PR_BRANCH_PREFIX: 'schedule/'
          PR_BRANCH_NAME: 'update-copyright-year'
          PR_TITLE: 'Bump copyright year.'
