name: 'Update Cuda Versions'

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron:  '0 0 * * 5' # Run once every Friday, at midnight.

jobs:
  update-cuda-versions:
    # Only run on main repository
    if: github.repository == 'm4rs-mt/ILGPU'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup the latest .NET 8 SDK
        uses: actions/setup-dotnet@v4.0.1
        with:
          dotnet-version: 8.0.x

      - name: Update Cuda versions
        uses: technote-space/create-pr-action@v2
        with:
          EXECUTE_COMMANDS: |
            dotnet run --configuration=Release -p:TreatWarningsAsErrors=true --project Tools/CudaVersionUpdateTool
          COMMIT_MESSAGE: 'Bump Cuda versions.'
          COMMIT_NAME: 'ILGPU CLI'
          COMMIT_EMAIL: 'contact@ilgpu.net'
          PR_BRANCH_PREFIX: 'schedule/'
          PR_BRANCH_NAME: 'update-cuda-versions'
          PR_TITLE: 'Bump Cuda versions.'
