<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="Generic/ConfigurationBase.tt" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
using ILGPU.Runtime;
using Xunit;
using Xunit.Abstractions;

namespace ILGPU.Tests
{
    public abstract class AtomicCASOperations : TestBase
    {
        protected AtomicCASOperations(ITestOutputHelper output, TestContext testContext)
            : base(output, testContext)
        { }

<# foreach (var type in AtomicNumericTypes) { #>
<#      var baseName = "_" + type.Name; #>
<#      var casTestName = "AtomicOperationCAS" + baseName; #>
<#      var casKernelName = "AtomicOperationKernelCAS" + baseName; #>
        internal static void <#= casKernelName #>(
            Index1D index,
            ArrayView1D<<#= type.Type #>, Stride1D.Dense> a,
            ArrayView1D<<#= type.Type #>, Stride1D.Dense> b,
            ArrayView1D<<#= type.Type #>, Stride1D.Dense> c,
            ArrayView1D<<#= type.Type #>, Stride1D.Dense> d)
        {
            d[index] = Atomic.CompareExchange(
                ref a[0],
                b[index],
                c[index]);
        }

        [Theory]
        [InlineData((<#= type.Type #>)0, (<#= type.Type #>)1)]
        [InlineData((<#= type.Type #>)1, (<#= type.Type #>)0)]
        [InlineData(<#= type.Type #>.MaxValue, <#= type.Type #>.MinValue)]
        [InlineData(<#= type.Type #>.MinValue, <#= type.Type #>.MaxValue)]
        [KernelMethod(nameof(<#= casKernelName #>))]
        public void <#= casTestName #>(
            <#= type.Type #> first,
            <#= type.Type #> second)
        {
            const int length = 1024;
            using var a = Accelerator.Allocate1D<<#= type.Type #>>(1);
            using var b = Accelerator.Allocate1D<<#= type.Type #>>(length);
            using var c = Accelerator.Allocate1D<<#= type.Type #>>(length);
            using var d = Accelerator.Allocate1D<<#= type.Type #>>(length);
            Initialize(a.View, first);
            Initialize(b.View, first);
            Initialize(c.View, second);
            Execute(length, a.View, b.View, c.View, d.View);

            var reference = new <#= type.Type #>[] { second };
            Verify(a.View, reference);

            var data = d.GetAs1DArray(Accelerator.DefaultStream);
            bool found = false;
            for (int i = 0, e = data.Length; i < e; ++i)
            {
                if (data[i] == first)
                {
                    Assert.False(found, "Multiple reference values found");
                    found = true;
                }
                else
                    Assert.Equal(data[i], second);
            }
        }

<# } #>
    }
}